<div class="navbar navbar-expand-sm navbar-lewagon sticky-top">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "pup.png" %>
    <% end %>

  <%# <a class="navbar-brand" href="#">
      <img src="pup.png" />
  </a> %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <% if user_signed_in? %>
            <li class="nav-item active">
              <a class="nav-link" href="#">Something</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Something else</a>
            </li>

            <li class="nav-item dropdown">
              <%= image_tag "avatar.png", class: "avatar dropdown-toggle", alt: "avatar", id: "navbarDropdown", data: {bs_toggle: "dropdown"}, aria: { haspopup: true, expanded: false} %>

              <%# <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown</a> %>

              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <a class="dropdown-item green" href="#">My Profile</a>
                <a class="dropdown-item green" href="#">My Plants</a>
                <hr class="dropdown-divider">
                <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
              </div>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </li>
          <% end %>
      </ul>
    </div>
  </div>
</div>
